body{
	background: #f2f2f2;
}
.subject{
	height: 100%;
	position: absolute;
	right: .2667rem;
	top:0;
	font-size: .45rem;
	font-weight: 600;
	color: #fff;
	display: none;
}
.subject.qinfenSub{
	display: none;
}
#student.subject{
	color: #333;
}
.subject.buffet{
	color: #333;
}
.subject.hw{
	color: #fff;
}
.subject  span{
	display: block;
	float: left;
	padding: 0 .25rem;
}
.subject i{
	font-weight: normal;
}
.buffetData{
	position: absolute;
	left: 0;
	top:1.3rem;
	right: 0;
	bottom: 0;
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.buffetChart{
	height: 50%;
	margin-bottom: .25rem;
	background: #fff;
	padding-top: .25rem;
}
