body{
	background: #f2f2f2;
}
.commonSubNav{
	width: 100%;
	height: 1.3rem;
	overflow: hidden;
	position: absolute;
	left:0;
	top:1.3rem;
	background: #fff;
	border-bottom: 1px solid #eeeeee;
	z-index: 100;
}
.commonSubNav ul{
	width: 456px;
}
.commonSubNav li{
	width: 114px;
	height: 1.3rem;
	line-height: 1.3rem;
	float: left;
	font-size: .4rem;
	text-align: center;
	position: relative;
}
.commonSubNav li span{
	width: 90%;
	height: 2px;
	background: #4d47f1;
	position: absolute;
	left: 6%;
	bottom: 0;
	display: none;
}
.commonSubNav li em{
	width: 0;
	height: 0;
	border-width: .16rem;
	border-style: dashed dashed solid dashed ;
	border-color:transparent transparent #4d47f1 transparent ;
	position: absolute;
	left: 50%;
	bottom: .05rem;
	margin-left: -.16rem;
	display: none;
}
.commonSubNav li.active {
	color: #4d47f1;
	font-weight: 600;
}
.commonSubNav li.active em,
.commonSubNav li.active span{
	display: block;
}
.hasTranslateX{
	-webkit-transition:0.5s;
	transition:.5s;
	-webkit-transform:translateX(0px);
	transform:translateX(0px);
}
.tabWrap{
	position: absolute;
	left: 0;
	top:2.8rem;
	bottom: 0;
	right: 0;
}
.tabCon{
	float: left;
	height:100%;
	position: relative;
}
.innerTabCon{
	position: relative;
	height: 100%;
}
.scrollerDiv{
	width: 100%;
	position:absolute !important;
	left:0px;
	top:0px;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.listDataUl li{
	margin-bottom: .25rem;
}
.listDataUl li .quesSubWrap{
	padding: .25rem .2667rem;
	background: #fff;
	margin-bottom: .25rem;
}
.listDataUl li .quesSubWrap.noMargBot{
	margin-bottom: 0;
	border-bottom: 2px solid #e6e6e6;
}
.listDataUl li strong.quesType{
	display: block;
	font-size: .42rem;
	color: #4d47f1;
	font-weight: 620;
	line-height: .8rem;
}
.quesSub{
	font-size: .4rem;
	color: #666666;
}
.quesOptBox{
	padding:0 .2667rem;
}
.quesOpt{
	background: #fff;
	position: relative;
	border:2px solid #e6e6e6;
	border-radius: 4px;
	margin-bottom: .25rem;
}
.quesOpt span.optionsWord{
	width:1rem;
	height: 100%;
	background: #ededed;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 2px 0 0  2px;
	font-size: .42rem;
	color: #666666;
	display: flex;
	justify-content: center;
	align-items: center;
}
.quesOpt div.optionsCon{
	width: 8rem;
	margin-left: 1.2rem;
	font-size: .42rem;
	color: #666;
	padding: .1rem 0;
	min-height: 1rem;
	display: flex;
	align-items: center;
}
.quesOpt div.optionsCon img{
	max-width: 100%;
}
.myAnsRealAns{
	height: 1.2rem;
	line-height: 1.2rem;
	background: #fff;
	padding: 0 .2667rem;
}
.myAnsRealAns p{
	float: left;
	font-size: .4rem;
	color: #666;
	margin-right: .25rem;
}
.myAnsRealAns p span.quesSuccTxt,
.myAnsRealAns p span.realAnsTxt{
	color: #28c8c6;
	font-weight: 600;
}
.myAnsRealAns p span.queFailTxt{
	color: #e10080;
	font-weight: 600;
}
/* 关联诊断结果 */
.scroller{
	width:150% !important;
	position:absolute;
	left:0px;
	top:0px;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	overflow: auto;
}
.ulParent{
	margin-top:10px;
}
.ulParent,
.fristFloor,
.secondFloor{
	position:relative;
}
.bigTit{
	color:#333;
	font-size:.45rem;
}
.smallTit{
	font-size:0.42rem;
	color:#666;
}
.fristFloor,
.secondFloor{
	margin:5px 0 0px 10px;
}
.bigTit{
	padding-left:28px;
}
.smallTit{
	display:inline-block;
	/**background:#fafafa;**/
	background:#fff;
	padding:2px 10px 2px 28px;
}
.smallTit span{
	font-size:.38rem;
	margin-right:5px;
}
.noPassTxt{
	color:#F67A7A;
}
.noPassTxt_1{
	color:#999;
}
.passTxt{
	color:#2798c2;
}
.treeIcon,
.sonTreeIcon,
.fristFlIcon{
	width:18px;
	height:21px;
	position:absolute;
	left:8px;
}
.fristFlIcon,
.treeIcon{
	background:url(../images/treeIcon.png) no-repeat;
}
.treeIcon{
	top:0px;
}
.fristFlIcon{
	top:3px;
}
.sonTreeIcon{
	background:url(../images/sonTreeIcon.png) no-repeat;
	top:5px;	
}